<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <p class="pad">
    <b style=" color: #007FFF;">Enter your credentials</b>
  </p>

  <br>
  <br>
  <form [formGroup]="loginForm" class ="padd" >
  <ion-item>
      <ion-label floating>
        <ion-icon ios="ios-person" md="md-person">&nbsp;</ion-icon>Username</ion-label>
        <ion-input type="text" formControlName="username" name="username" [class.invalid]="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label floating>
          <ion-icon name="ios-unlock">&nbsp;</ion-icon>Password</ion-label>
          <ion-input type="password" formControlName="password" name="password" [class.invalid]="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)"></ion-input>
      </ion-item>

  <br>
  <br>
  <p class="pad">
    <button ion-button round color="button_color" [disabled]="!this.loginForm.valid" class="button button-dark customBtn" (tap)="login()"> LOGIN </button>
  </p>

  <p class="pad">
    <b style=" color: black;">
      <p style=" color: black;">Dont have an account ?
        <a style=" color: black;" (tap)="signup()">Sign Up</a>

      </p>
    </b>
  </p>

</form>
</ion-content>