<ion-header>

  <ion-navbar>
    <ion-title>Transfer To Mobile Money</ion-title>
  </ion-navbar>

</ion-header>



<ion-content class="img">


  <form>
    <ion-card-header>

    </ion-card-header>

    <ion-list>

      <ion-item *ngIf=" telco == 'VOD'">

        <ion-input type="text" placeholder="Enter voucher code"></ion-input>

      </ion-item>


      <br/>

      <ion-item>
        <ion-input type="text" placeholder="Enter receiver's number" name="recipient_number"></ion-input>

      </ion-item>


      <br/>

      <ion-item>
        <ion-label> Receiver's Network</ion-label>
        <ion-select name="recipient_telco">
          <ion-option name="recipient_telco" value="MTN" ngDefaultControl>MTN</ion-option>
          <ion-option name="recipient_telco" value="TIG" ngDefaultControl>TIGO</ion-option>
          <ion-option name="recipient_telco" value="VOD" ngDefaultControl>VODAFONE</ion-option>
          <ion-option name="recipient_telco" value="AIR" ngDefaultControl>AIRTEL</ion-option>

        </ion-select>
      </ion-item>
      <br/>

      <ion-item>


        <ion-input type="text" placeholder="Enter amount" name="amount"></ion-input>

      </ion-item>


      <br/>
      <br/>

      <p class="pad">
        <button ion-button color="primary" [disabled]="" (tap)="transfer()"> Transfer funds </button>
      </p>


    </ion-list>


  </form>


</ion-content>