<ion-tabs>
  <!-- <ion-tab [root]="tab1Root" tabTitle="Transact" tabIcon="keypad"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Info" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="More Services" tabIcon="more"></ion-tab> -->
  <ion-tab [root]="tab1Root"  tabTitle="Home" tabIcon="home" [rootParams]="from_login"></ion-tab>
  <!-- <ion-tab [root]="tab2Root" tabTitle="Logout" tabIcon="log-out"></ion-tab> -->
</ion-tabs>
