page-salary-advance-form {


     .pad{

         text-align:center;

    }

   .center{

        text-align: center;
        align-content: center;
    }


.background{


    //  background-color: #ece7e7;
   
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    text-align:center;

    }

//  ion-item {

//     border:solid 2px black;
//     padding:5px;
//     padding-left: 40px;
//     padding-top: 20px;
//     width: 300px;
//     height: 40px;    
// }

.height{

     height: 100px !important;


}



  

}
