<ion-header>

  <ion-navbar>
    <ion-title>Salary Advance</ion-title>
  </ion-navbar>

</ion-header>


<ion-content overflow-scroll='true' class="background">
  <p>
    <b style=" color: #007FFF;">Request for Salary Advance </b>
  </p>

  <br/>
  <form>


    <p class="center" [hidden]="lastImage !== null" style=" color: black;">Please upload your selfie or ID documents!</p>
    <ion-buttons>
      <button ion-button icon-left color="green1" (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>Select Image
      </button>
      <button ion-button icon-left (click)="uploadImage()" [disabled]="lastImage === null">
        <ion-icon name="cloud-upload"></ion-icon>Upload
      </button>
    </ion-buttons>
    <br>
    <img src="{{pathForImage(lastImage)}}" style="width: 50%" [hidden]="lastImage === null">
    <br>

    <ion-item>
      <ion-label floating>
        <ion-icon ios="ios-phone" md="md-phone">&nbsp;</ion-icon>Employers Name</ion-label>
      <ion-input type="text" name="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon ios="ios-phone" md="md-phone">&nbsp;</ion-icon>Employee Number</ion-label>
      <ion-input type="text" name="surname"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label floating>
          <ion-icon ios="ios-phone" md="md-phone">&nbsp;</ion-icon>Loan Amount Required</ion-label>
        <ion-input type="text" name="surname"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label floating>
            <ion-icon ios="ios-phone" md="md-phone">&nbsp;</ion-icon>Purpose of Loan</ion-label>
          <ion-input type="text" name="surname"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>
              <ion-icon ios="ios-phone" md="md-phone">&nbsp;</ion-icon>Bank Account Number</ion-label>
            <ion-input type="text" name="surname"></ion-input>
          </ion-item>
    

    <ion-list>

      <p class="pad">
        <button ion-button color="green1" [disabled]="" (tap)="salary_loan()"> Submit </button>
      </p>

    </ion-list>


  </form>

</ion-content>