page-profile {

    .pad{

      // padding-right: 1000px;
     text-align:center;

  }

   .img{

/* The image used */
  background-image: url("../assets/icon/green.png");
 
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   align-content: center;
  text-align:center;

  

  }


ion-item.list{
      box-shadow: none;
      background:none;
      border-radius: 5px;
       padding-left: 10px;
  }



}
