<ion-header>

    <ion-navbar>
      <ion-title>Profile</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content class="img">
  
      <br/>
<!--     
        <ion-card> -->
        
            <ion-row>
  
              <ion-col col-3>
                <h4><img src="./assets/icon/profile.png" /></h4>
              </ion-col>
  
  
              <ion-col col-9>
                <ion-item>
                  <h4>Kobby Ansah</h4>
                  <p> +233-267856123</p>
                  <p> kobby@gmail.com</p>
  
                </ion-item>
              </ion-col>
  
            </ion-row>
         
        <!-- </ion-card> -->
    
  

        <!-- <ion-card> -->
            <br/>
            <ion-row>
  
  
              <ion-item>
                <ion-input type="password" placeholder="Enter old password"  name="pin"></ion-input>
                <ion-label>
                  <ion-icon name="ios-unlock"></ion-icon>
                </ion-label>
  
              </ion-item>
  
              <ion-item>
                <ion-input type="password" placeholder="Enter new password"  name="new_pin"></ion-input>
                <ion-label>
                  <ion-icon name="ios-unlock"></ion-icon>
                </ion-label>
  
  
              </ion-item>
  
  
            </ion-row>
        
        <!-- </ion-card> -->
 
      <br/>
  
  
      <p class="pad"> <button ion-button color="primary" (tap)="profile()">  Submit </button>
      </p>

  </ion-content>