<ion-header>

  <ion-navbar>
    <ion-title>Bank Form</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="img">
  <br/>

  <form>


    <ion-list>

      <ion-item>
        <ion-label> Select Bank</ion-label>
        <ion-select name="recipient_telco">
          <ion-option name="recipient_telco" value="MTN" ngDefaultControl> Fidelity Bank</ion-option>
          <ion-option name="recipient_telco" value="TIG" ngDefaultControl>Barclays Bank</ion-option>
          <ion-option name="recipient_telco" value="VOD" ngDefaultControl> Ecobank</ion-option>
          <ion-option name="recipient_telco" value="AIR" ngDefaultControl>OTHER</ion-option>

        </ion-select>
      </ion-item>

      <br/>

      <ion-item>
        <ion-input type="text" placeholder="Enter account number" name="recipient_number"></ion-input>

      </ion-item>
      <br/>

      <ion-item>
        <ion-input type="text" placeholder="Enter name on card" name="recipient_number"></ion-input>

      </ion-item>
      <br/>

      <ion-item>
        <ion-input type="text" placeholder="Enter cvv" name="recipient_number"></ion-input>

      </ion-item>
   <br/>
      <ion-item>
        <ion-label>
         Expiry Date</ion-label>
        <ion-datetime class="datetimeColor" displayFormat="MMM DD YYYY " max="2001"></ion-datetime>
      </ion-item>


      <br/>

      <ion-item>


        <ion-input type="text" placeholder="Enter amount" name="amount"></ion-input>

      </ion-item>


      <br/>
     

      <p class="pad">
        <button ion-button color="primary" [disabled]="" (tap)="transfer()"> Transfer </button>
      </p>


    </ion-list>


  </form>


</ion-content>