page-apply-loan {

    ion-header{

        background-color: #007FFF;  
       
         
            }

            .top{
                margin-top: 3%;
            }

          


    .background{

       background-color: #007FFF;  
       height: 23%;
        
        // /* Center and scale the image nicely */
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
        // align-content: center;
        // text-align:center;
        // opacity: 1.0;
        
           } 
           

           .dot {
        height: 50%;
        width: 80%;
        background-color: #007FFF;
        
        border-radius: 50%;
        display: inline-block;
        text-align:center;
        opacity: 1;
      }
           

           ion-icon.sizz {
            font-size: 70px; 
            color: white;
            text-align:center;
        }

        .position{
            text-align:center;
            margin-top: 10%;
        }

        ion-icon.grid {
            font-size: 50px; 
            color: rgb(130, 193, 214);
            text-align:center;
        }

        .middle{
            margin-top: 10px;
            margin-left: 4px;
            text-align:center;
            align-content: center;
            align-items: center;
        }


}
