
<ion-header>

  <ion-navbar>
    <ion-title>Loan Application</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <ion-row class="position">

        <ion-col col-4>
          <img src="./assets/icon/salary.png" height="40px" width="40px" class="middle" tappable (tap)="request_advance()" />
          <figcaption>
            <p style=" color: #000;">Salary Advance</p>
          </figcaption>
        </ion-col>
    
        <ion-col col-4>
    
          <img src="./assets/icon/contract.png" height="40px" width="40px" class="middle" tappable (tap)="nss_loan()" />
          <figcaption>
            <p style=" color: #000;">NSS Loan</p>
          </figcaption>
    
        </ion-col>
    
        <ion-col col-4>
    
          <img src="./assets/icon/calendar.png" height="40px" width="40px" class="middle" tappable (tap)="salary_loan()" />
          <figcaption>
            <p style=" color: #000;">Salary Loan</p>
          </figcaption>
    
        </ion-col>
    
      </ion-row>

</ion-content>
