<ion-header>

  <ion-row>
    <ion-col col-8 class="left">
      <p style=" color: white"> 1stPocket Mobile</p>
    </ion-col>
    <ion-col col-2>
     


    </ion-col>
    <ion-col col-2 class="top">
      <ion-icon ios="ios-refresh" md="md-refresh" tappable (tap)="refresh()"></ion-icon>
      

    </ion-col>
  </ion-row>
 

</ion-header>

<ion-content>
  <ion-card class="background">

    <ion-row>
      <ion-col col-8>
        <br>
        <p style=" color: white;">Hi {{username}}</p>
        <br>
        <p style=" color: white;">
         Welcome to 1st Pocket</p>

      </ion-col>

      <ion-col col-4>
        <br>
        <span class="dot">
          <ion-icon ios="ios-contact" md="md-contact" class="sizz"></ion-icon>
        </span>

        <!-- <b class="position" style=" color: white;">Achimota</b> -->
      </ion-col>
    </ion-row>

  </ion-card>
  <br>
  <br>
  <br>

  <!-- <ion-card > -->
  <ion-row class="position">

    <ion-col col-6>
      <img src="./assets/icon/profile.png" height="40px" width="40px" class="middle" tappable (tap)="profile()" />
      <figcaption>
        <p style=" color: #000;">Profile</p>
      </figcaption>
    </ion-col>

    <ion-col col-6>

      <img src="./assets/icon/contract.png" height="40px" width="40px" class="middle" tappable (tap)="loan()" />
      <figcaption>
        <p style=" color: #000;">Apply for Loan</p>
      </figcaption>

    </ion-col>

    <ion-col col-6>

      <img src="./assets/icon/shopping-basket.png" height="40px" width="40px" class="middle" tappable (tap)="hire()" />
      <figcaption>
        <p style=" color: #000;">Hire Purchase</p>
      </figcaption>

    </ion-col>

    <ion-col col-6>

      <img src="./assets/icon/accounting.png" height="40px" width="40px" class="middle" tappable (tap)="account()" />
      <figcaption>
        <p style=" color: #000;">My Account</p>
      </figcaption>

    </ion-col>

    <!-- <ion-col col-4>

      <img src="./assets/icon/salary.png" height="40px" width="40px" class="middle" (tap)="alert()" />
      <figcaption>
        <p style=" color: #000;">Salary Advance</p>
      </figcaption>

    </ion-col> -->
  </ion-row>

  <!-- <ion-row class="position">

    <ion-col col-4>

      <img src="./assets/icon/withdrawal.png" height="40px" width="40px" class="middle" (tap)="alert()" />
      <figcaption>
        <p style=" color: #000;">Withdrawal</p>
      </figcaption>

    </ion-col>

  </ion-row> -->


</ion-content>