
<ion-header>

  <ion-navbar>
    <ion-title>Pay Merchant</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="img">


    <form>
      <ion-card-header>
  
      </ion-card-header>
  
      <ion-list>
  
          <ion-item>
              <ion-label> Select Merchant</ion-label>
              <ion-select name="recipient_telco">
                <ion-option name="recipient_telco" value="MTN" ngDefaultControl> DSTV BILLS</ion-option>
                <ion-option name="recipient_telco" value="TIG" ngDefaultControl>SUFLINE DATA</ion-option>
                <ion-option name="recipient_telco" value="VOD" ngDefaultControl> BETWAY</ion-option>
                <ion-option name="recipient_telco" value="AIR" ngDefaultControl>OTHER</ion-option>
      
              </ion-select>
            </ion-item>
  
        <br/>
  
        <ion-item>
          <ion-input type="text" placeholder="Enter account number" name="recipient_number"></ion-input>
       
        </ion-item>
  
  
        <br/>
  
        <ion-item>
          <ion-label> Receiver's Network</ion-label>
          <ion-select name="recipient_telco">
            <ion-option name="recipient_telco" value="MTN" ngDefaultControl>MTN</ion-option>
            <ion-option name="recipient_telco" value="TIG" ngDefaultControl>TIGO</ion-option>
            <ion-option name="recipient_telco" value="VOD" ngDefaultControl>VODAFONE</ion-option>
            <ion-option name="recipient_telco" value="AIR" ngDefaultControl>AIRTEL</ion-option>
  
          </ion-select>
        </ion-item>
        <br/>
  
        <ion-item>
  
  
          <ion-input type="text" placeholder="Enter amount" name="amount"></ion-input>
      
        </ion-item>
  
  
        <br/>
        <br/>
  
        <p class="pad">
          <button ion-button color="primary" [disabled]="" (tap)="transfer()"> Pay </button>
        </p>
  
  
      </ion-list>
  
  
    </form>
  
  
  </ion-content>