page-welcome {

    .background{

        background-image: url("../assets/icon/de.jpg");  
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-content: center;
        text-align:center;
        opacity: 1.0;
        
        
       
           }    
       
              .pad{
       
               text-align:center;    
       
           }


           .button.customBtn{
            // width:340px;
             width: 80%;
            
              left: 0%;
        }

        .padding{
padding-top: 60%;

        }
}
