


<ion-content overflow-scroll='true' class="background">
  
  <div class="padding">
    <h1 style=" color: white;">Welcome to <br> 1stPocket!</h1></div>
  <p class="pad">
      <button ion-button  color="primary" class="button button-dark customBtn" (tap)="login()">  Login </button>
    </p>
    <p class="pad">
        <button ion-button  color="blueblack" class="button button-dark customBtn" (tap)="signup()"> Sign up </button>
      </p>

</ion-content>
