<ion-header>

    <ion-navbar>
      <ion-title>Nss Loan</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content overflow-scroll='true' class="background">
    <p>
      <b style=" color: #007FFF;">Request For Nss Loan</b>
    </p>
  
    <br/>
    <form [formGroup]="nssForm">
  
    <p class="center" [hidden]="lastImage !== null" style=" color: black;">Please upload your selfie or ID documents!</p>
    <ion-buttons>
      <button ion-button icon-left color="green1" (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>Select Image
      </button>
      <button ion-button icon-left (click)="uploadImage()" [disabled]="lastImage === null">
        <ion-icon name="cloud-upload"></ion-icon>Upload
      </button>
    </ion-buttons>
    <br>
    <img src="{{pathForImage(lastImage)}}" style="width: 50%" [hidden]="lastImage === null">
    <br>

    <ion-item>
      <ion-label floating>
        <ion-icon ios="ios-phone" md="md-phone">&nbsp;</ion-icon>Institution Name</ion-label>
        <ion-input type="text" formControlName="institution_name" name="institution_name" [class.invalid]="!nssForm.controls.institution_name.valid && (nssForm.controls.institution_name.dirty || submitAttempt)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon ios="ios-phone" md="md-phone">&nbsp;</ion-icon>Nss Number</ion-label>
        <ion-input type="text" formControlName="nss_number" name="nss_number" [class.invalid]="!nssForm.controls.nss_number.valid && (nssForm.controls.nss_number.dirty || submitAttempt)"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label floating>
          <ion-icon ios="ios-phone" md="md-phone">&nbsp;</ion-icon>Loan Amount Required</ion-label>
          <ion-input type="text" formControlName="loan_amount" name="loan_amount" [class.invalid]="!nssForm.controls.loan_amount.valid && (nssForm.controls.loan_amount.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label floating>
            <ion-icon ios="ios-phone" md="md-phone">&nbsp;</ion-icon>Purpose of Loan</ion-label>
            <ion-input type="text" formControlName="loan_purpose" name="loan_purpose" [class.invalid]="!nssForm.controls.loan_purpose.valid && (nssForm.controls.loan_purpose.dirty || submitAttempt)"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>
              <ion-icon ios="ios-phone" md="md-phone">&nbsp;</ion-icon>Mobile Money Number</ion-label>
              <ion-input type="text" formControlName="account_number" name="account_number" [class.invalid]="!nssForm.controls.account_number.valid && (nssForm.controls.account_number.dirty || submitAttempt)"></ion-input>
          </ion-item>
    

    <ion-list>

      <p class="pad">
        <button ion-button color="green1" [disabled]="" (tap)="salary_loan()"> Submit </button>
      </p>

    </ion-list>


  </form>

</ion-content>