page-nss-loan-form {


    .pad{

        // padding-right: 1000px;
        // padding-left: 70px;
         text-align:center;

    }

   .center{

        text-align: center;
        align-content: center;
    }


.background{


    //  background-color: #ece7e7;
   
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    text-align:center;

    }

 
.height{

     height: 100px !important;


}



}
