
<ion-header>

    <ion-navbar>
      <ion-title>My Account</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content >
      <ion-row class="position">
  
          <ion-col col-6>
            <img src="./assets/icon/phones.png" height="40px" width="40px" class="middle" tappable (tap)="mobile_money()" />
            <figcaption>
              <p style=" color: #000;">Transfer To Mobile Money</p>
            </figcaption>
          </ion-col>
      
          <ion-col col-6>
      
            <img src="./assets/icon/bill.png" height="40px" width="40px" class="middle" tappable (tap)="merchant()" />
            <figcaption>
              <p style=" color: #000;">Transfer to Merchant</p>
            </figcaption>
      
          </ion-col>
      
          <ion-col col-6>
      
            <img src="./assets/icon/transference.png" height="40px" width="40px" class="middle" tappable (tap)="bank()" />
            <figcaption>
              <p style=" color: #000;">Transfer to Bank</p>
            </figcaption>
      
          </ion-col>

          <ion-col col-6>
      
              <img src="./assets/icon/balance.png" height="40px" width="40px" class="middle" tappable (tap)="balance()" />
              <figcaption>
                <p style=" color: #000;">Account Balance</p>
              </figcaption>
        
            </ion-col>
      
        </ion-row>
  
  </ion-content>
  