<ion-header>

  <ion-navbar>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <p class="pad">
    <b style=" color: #007FFF;">Enter Details</b>
  </p>

  <form [formGroup]="signupForm"> 
  <ion-item>
    <ion-label floating>
      <ion-icon ios="ios-person" md="md-person">&nbsp;</ion-icon>Username</ion-label>
      <ion-input type="text" formControlName="username" name="username" [class.invalid]="!signupForm.controls.username.valid && (signupForm.controls.username.dirty || submitAttempt)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>
      <ion-icon ios="ios-person" md="md-person">&nbsp;</ion-icon>Surname</ion-label>
      <ion-input type="text" formControlName="surname" name="surname" [class.invalid]="!signupForm.controls.surname.valid && (signupForm.controls.surname.dirty || submitAttempt)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>
      <ion-icon ios="ios-person" md="md-person">&nbsp;</ion-icon>Other Name</ion-label>
      <ion-input type="text" formControlName="other_names" name="other_names" [class.invalid]="!signupForm.controls.other_names.valid && (signupForm.controls.other_names.dirty || submitAttempt)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>
      <ion-icon ios="ios-phone-portrait" md="md-phone-portrait">&nbsp;</ion-icon>Mobile Number</ion-label>
      <ion-input type="text" formControlName="mobile_number" name="mobile_number" [class.invalid]="!signupForm.controls.mobile_number.valid && (signupForm.controls.mobile_number.dirty || submitAttempt)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>
      <ion-icon ios="ios-mail" md="md-mail">&nbsp;</ion-icon>Email</ion-label>
      <ion-input type="text" formControlName="email" name="email" [class.invalid]="!signupForm.controls.email.valid && (signupForm.controls.email.dirty || submitAttempt)"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label floating>
      <ion-icon ios="ios-calendar" md="md-calendar">&nbsp;</ion-icon>Date Of Birth</ion-label>
    <ion-datetime class="datetimeColor" displayFormat="MMM DD YYYY "  max="2001" formControlName="dob" [class.invalid]="!signupForm.controls.dob.valid && (signupForm.controls.dob.dirty || submitAttempt)"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label floating>
      <ion-icon name="ios-unlock">&nbsp;</ion-icon>Password</ion-label>
      <ion-input type="password" formControlName="password" name="password" [class.invalid]="!signupForm.controls.password.valid && (signupForm.controls.password.dirty || submitAttempt)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>
      <ion-icon name="ios-unlock">&nbsp;</ion-icon>Confirm Password</ion-label>
      <ion-input type="password" formControlName="confirm_password" name="confirm_password" [class.invalid]="!signupForm.controls.confirm_password.valid && (signupForm.controls.confirm_password.dirty || submitAttempt)"></ion-input>
  </ion-item>


  <p class="pad">
    <button ion-button round color="button_color" [disabled]="!this.signupForm.valid" class="button button-dark customBtn" (tap)="signup()"> SIGN UP </button>

  </p>



  <p class="pad">
    <b style=" color: black;">
      <p style=" color: black;">Already have an account ?
        <a  style=" color: black;" (tap)="signin()">Sign In</a>

      </p>
    </b>
  </p>

</form>
</ion-content>